.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  padding: 2rem;
  justify-items: center;
  margin: auto;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
  }
}

@media (min-width: 640px) and (max-width: 1025px) {
  .grid {
    width: 80%;
    gap: 3rem;
    padding: 1rem;
  }
}